@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --blue-opacity: rgba(22,132,187,0.8);
    --dark-blue-opacity: rgba(8, 77, 109, 0.8);
}

.lta-blue-opcity {
    background-color: var(--blue-opacity);
}

h2 {
    margin-bottom: 1.75rem;
    font-weight: 200;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
    font-size: 2.2em;
    line-height: 1.2;
}

h3 {
    margin-bottom: 1.8rem;
    line-height: 1.2;
}

p {
    font-size: 15px;
    font-weight: 200;
}

a {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 15px;
    font-weight: 300;
}

.lta-block {
    padding: 1.75rem 1.2rem;
    background-color: var(--blue-opacity);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    line-height: 1.4em;
    margin-bottom: 1rem;
}

.lta-block-full {
    background-color: var(--blue-opacity);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    line-height: 1.4em;
    margin-bottom: 1rem;
}

html {
    min-height: 100%;
}

body {
    background-image: url('assets/images/background.png');
    color: white;
    line-height: 1.2;
    background-size: 100%;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-position: 50% 0;

    min-height: 100%;
}

.container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: 0 auto;
}

/* LTA - Header */

.lta-header {
    height: 80px;
    padding: 1.5rem 0;
}

.lta-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lta-nav .brand {
    width: 280px;
    max-width: 30%;
}

.lta-nav .brand img {
    max-width: 100%;
}

.lta-navlist {
    display: flex;
    align-items: center;
    list-style: none;
    width: 70%;
    justify-content: flex-end;
}

.lta-navlist li {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.lta-navlist li .arrow {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid white;
    margin-left: 5px;
    font-size: 0.7rem;
    cursor: pointer;
}

.lta-navlist li .arrow-right {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid white;
    margin-left: 5px;
    font-size: 0.7rem;
    cursor: pointer;
    padding-left: 2px;
    padding-top: 1px;
}

.lta-navlist li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* LTA - Main Area */

.lta-main-area {
    display: flex;
    justify-content: space-between;
}

.lta-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.75rem 1.2rem;
    width: 25%;
    background-color: var(--blue-opacity);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
}

.blog-news {
    /* max-width: calc(280px - 1.2rem) */
}

.newslist-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-news h2 {
    margin-top: -10px;
    color: white;
    margin-bottom: 1.75rem;
}

.newslist-wrapper li {
    margin-bottom: 1.5rem;
}

.newslist-wrapper li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: flex-start;
}

.newslist-wrapper li a span {
    width: calc(0.9rem + 2px);
    height: 0.9rem;
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin-right: 0.5rem;
    padding-top: 2px;
}

.newslist-wrapper li a p {
    width: 80%;
}

.lta-content {
    width: 71%;
}

/* LTA - Slider */

.lta-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: -6px;
}

.lta-slider__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lta-slider__content--left {
    padding: 1.75rem 1.2rem;
    width: 32%;
}

.lta-slider__content--right {
    width: 66%;
}

/* LTA - Footer */

.lta-footer {
    margin-top: 3rem;
    text-align: center;
    color: white;
    font-weight: 500;
    fon-size: 2.2em;
    padding: 1rem;
}

.lta-footer p {
    text-align: center;
    color: white;
    font-weight: 400;
    fon-size: 2.2em;
}

body .slick-dots {
    display: flex;
    bottom: 25px;
    left: 65%;
}

body .slick-dots li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    font-size: 1.2rem;
    margin-left: 3px;
    font-weight: 600;
}

body .slick-dots li.slick-active, body .slick-dots li:hover {
    background-color: rgb(26 118 166);
}

/* LTA - Navbar Behavior */

.lta-navlist li {
    position: relative;
}

.has-child:hover > .child-1 {
    display: block;
}

.has-child:hover > .child-2 {
    display: block;
}

.bridgeY {
    position: absolute;
    height: calc(2.5rem - 1rem);
    top: 1.2rem;
    width: 100%;
}

.bridgeX {
    position: absolute;
    height: calc(2.5rem - 1rem);
    top: 0;
    width: 100%;
    left: 100%;
}

.child-1 {
    position: absolute;
    background-color: var(--dark-blue-opacity);
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 0 0.5rem;
    padding-top: 1rem;
    display: none;
    padding-right: 1rem;
}

.child-1 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.child-1 ul li {
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem !important;
}

.child-1 ul li a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.pointer {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: var(--dark-blue-opacity);
}

.child-2 {
    position: absolute;
    background-color: var(--dark-blue-opacity);
    top: -1rem;
    left: calc(100% + 1rem);
    padding: 0;
    padding-top: 1.2rem;
    width: fit-content;
    display: none;
}

.child-2 ul {
    list-stle: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.child-2 ul li {
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.child-2 ul li a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

/* LTA - Usable block */

.lta-content img {
    max-width: 100%;
}

.lta-content img.center {
    display: flex;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex .left-content {
    width: calc(47% - 2rem);
}

.flex .right-content {
    width: calc(47% - 2rem);
}

.flex2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3rem;
}

.flex2 .left-content {
    width: calc(36% - 1rem);
}

.flex2 .right-content {
    width: calc(63% - 1rem);
}

iframe {
    width: 100%;
    max-height: 310px;
}

.dual-image {
    display: flex;
    justify-content: center;
}

.dual-image img {
    margin-right: 0.6rem;
    width: 45%;
}

a {
    color: white;
}

/* Contact Pages */

.contact-detail ul {
    padding: 0;
    margin: 0;
}

.contact-detail li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.contact-detail li i {
    margin-right: 1rem;
}

/* Mini tablet and Mobile */

@media (max-width: 991.98px) {

    h2 {
        margin-bottom: 1.75rem;
        font-weight: 200;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
        font-size: 2em;
        line-height: 1.2;
    }

    .hidden-mobile {
        display: none;
    }
    
    .lta-main-area {
        flex-direction: column;
        margin-bottom: 2rem;
        flex-direction: column-reverse;
    }

    .lta-sidebar {
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }

    .lta-content {
        width: 100%;
    }

    .blog-news {
        padding: 1.75rem 1.2rem;
    }

    .lta-nav .brand {
        max-width: 60%;
    }

    .lta-footer {
        margin-top: -2rem;
    }

    .lta-footer p {
        font-size: 0.8rem;
        max-width: 80%;
        margin: 0 auto;
    }

    .flex, .flex2 {
        flex-direction: column;
    }

    .flex .left-content, .flex2 .left-content {
        width: 100%;
    }

    .flex .right-content, .flex2 .right-content {
        width: 100%;
    }

}